@using NurfUs.Classes
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - The manatee hath spoken. Get URFt</title>
    <meta name="Description" content="@ViewBag.Description">

    <link rel="shortcut icon" href="/favicon.ico">

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    @Styles.Render("~/Content/css")
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
</head>

<body class="theme-invert">
    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#head" class="navbar-brand sectionSwitch">Match Gambling&nbsp;<span id="gameDetail"></span>&nbsp;<img src="/Images/Currency.jpg" style="width:20px; height: 25px;" /></a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#about" class="sectionSwitch">About</a>
                    </li>
                    <li>
                        <a href="#contact" class="sectionSwitch">Get In Touch</a>
                    </li>
                    <li>
                        <a href="#howtoplay" class="sectionSwitch">How to play</a>
                    </li>
                    @if (Request.IsAuthenticated)
                    {
                    <li>
                        <a href="~/Account/LogOff" class="">Logout</a>
                    </li>    
                    <li>
                        <a> Logged In as: @User.Identity.Name</a>
                    </li> 
                    }
                    else
                    {
                        <li>
                            <a href="~/Account/LogIn" class="">Log in</a>
                        </li>        
                        <li>
                            <a href="~/Account/Register" class="">Register</a>
                        </li>        
                    }
                </ul>
            </nav>
        </div>

    </header>
        <div class="container">
            <div class="row">
                @RenderBody()
            </div>
        </div>

        <section class="section" id="about">
            <div class="container">
                <div class="well panelBackground">
                    <h2 class="text-center title">About the NURF crew</h2>
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-2">
                            <h5><strong>Scott Karbel<br></strong></h5>
                            <p>Super power: Not seeing pedestrians while driving.</p>
                        </div>
                        <div class="col-sm-4">
                            <h5><strong>Tyler Thomas<br></strong></h5>
                            <p>Greatest accomplishment: Completing the Google foobar challenge and getting turned down. Special thanks go to CSUN for this one.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section" id="contact">
            <div class="container">
                <div class="well panelBackground">

                    <h2 class="text-center title">Get in touch</h2>

                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text-center">
                            <p class="lead">Have a question about this site or wonder how you can be touched by Urf's slimy flipper?</p>
                            <p>Feel free to email us, or drop us a line in Twitter!</p>
                            <p><b><a href="mailto:neopong@boozeblender.com">neopong@boozeblender.com</a></b><br><br></p>
                            <ul class="list-inline list-social">
                                <li><a href="https://twitter.com/SpatulaSlapper" class="btn btn-link" target="parent"><i class="fa fa-twitter fa-fw"></i> Twitter</a></li>
                                <li><a href="https://github.com/neopong/NurfUs" class="btn btn-link" target="parent"><i class="fa fa-github fa-fw"></i> Github</a></li>
                                <li><a href="https://linkedin.com/in/ScottKarbel" class="btn btn-link" target="parent"><i class="fa fa-linkedin fa-fw"></i> Scott's LinkedIn</a></li>
                                <li><a href="https://www.linkedin.com/in/tylerwthomas" class="btn btn-link" target="parent"><i class="fa fa-linkedin fa-fw"></i> Tyler's LinkedIn</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <section class="section" id="howtoplay">
        <div class="container">
            <div class="well panelBackground">
                <h2 class="text-center title">How to play!</h2>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <p class="lead">It's you against the world in the ultimate betting arena.</p>
                        <p class="lead">Every 30 seconds you will be presented with an event that happened in an actual URF game</p>
                        <p class="lead">You will see related data to that particular event, and using that data it is your job to try and figure out who did what in that event.</p>
                        <p class="lead">If you guess correctly you will be rewarded a portion of the fish that the people who guessed incorrectly bet.</p>
                        <p class="lead">But be careful, if you guess wrong you can lose it all!</p>
                    </div>
                </div> 
            </div>
        </div>
    </section>

        <div class="container">
            <div class="well panelBackground">
                <p>&copy; @DateTime.Now.Year - Nurf.us</p>
                <p>Nurf.us isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
            </div>
        </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script src="/Scripts/modernizr.custom.72241.js"></script>
        <script src="/Scripts/jquery.signalR-2.2.0.min.js"></script>
        <script src="/signalr/hubs"></script>
        @Scripts.Render("~/bundles/nurf")
        @RenderSection("scripts", required: false)
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', '@NurfUsController.GoogleAnalyticsKey', 'auto');
            ga('send', 'pageview');
        </script>
</body>
</html>